<!-- <div class="uk-height-large uk-background-cover uk-light uk-flex uk-flex-top" style="background-image: url('assets/img/background.jpg');">

</div> -->

<!-- <div class="uk-height-large uk-background-cover uk-light uk-flex" uk-parallax="bgy: -100" style="background-image: url('assets/img/background.jpg');">
</div> -->

<!-- <div style="background-image: url(assets/img/background.jpg);">
</div> -->


<!-- <div class="uk-height-medium uk-flex " style="background-image: url('assets/img/background.jpg');">
</div> -->

<!-- <div style="background-image: url(assets/img/background.jpg); height: 100%; width: 100%;"> </div> -->

<!-- Rana Abdullah, [٢٢.٠٥.١٨ ٠٠:٠٦] -->
<div  class="uk-height-large uk-background-cover uk-light uk-flex background" uk-parallax="bgy: -200">
    <img src="assets/img/background.jpg" class="stretch" alt="" />

</div>

<!-- <img id="backgroundimage" src="assets/img/background.jpg" border="0" alt=""> -->